realhuman_phill.txt
realuniq.lst
common-and-spanish.txt
engDictionary.txt
engDictionaryEdited.txt
engDictionaryLarge.txt
engDictionaryLargeEdited.txt
spanich2.txt
top-10000-spanish-words.txt
palabras_totales.txt
palabras_totales.zip